<footer>
  <nav>
    <ul>
      <h4>Sites Education</h4>
      <li><a href="#">Onisep</a></li>
      <li><a href="#">CLEMI</a></li>
      <li><a href="#">Enseignement supérieur et recherche</a></li>
    </ul>
    <ul>
      <h4>Sites Publics</h4>
      <li><a href="#">Elysée.fr</a></li>
      <li><a href="#">service-public.fr</a></li>
      <li><a href="#">France.fr</a></li>
    </ul>
    <ul>
      <h4>Vous informer</h4>
      <li><a href="#">Toute l'actualité</a></li>
      <li><a href="#">Espace presse</a></li>
      <li><a href="#">Lettre d'information</a></li>
    </ul>
    <ul>
      <h4>Restez connecté</h4>
      <li><a href="#">X</a></li>
      <li><a href="#">FaceBook</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Tiktok</a></li>
      <li><a href="#">Youtube</a></li>
    </ul>
  </nav>
</footer>
